body{
 background-color: #f1f1f1;
 margin:0;
}
.menu{
    background-color: #FFFFFF;
    display: flex;
    position: fixed;
    padding-left: 15px;
    top:0;
    width: 100%;
    justify-content: space-between;
}
nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-right: 20px;
    
}
nav a{
    color: #4f7e45;
    text-decoration: none;
    font-weight: bold;
    padding:10px;
}

.titre_menu{
    color: #4f7e45;
    text-align: center;
    font-size: medium;
}

h1{
    color:#4f7e45;
    text-align: center;
}

section {
    background-color: #4f7e45;
    padding:5px;
    margin-top:10px;
    color:#f1f1f1;
}

.active{
    background-color: #ceefc8;
    color:#2d4329;
}

.contenu {
    padding-top: 40px;
    padding-left:15px;
    padding-right: 15px;
}
/* style tableau */
table{
    width: 100%;

}
th{
    background-color: #4f7e45;
    color:#f1f1f1;
    padding:5px;
    margin:0px;
}

td{
    padding:5px;
}

tr:nth-child(2n) {
    background-color: darkseagreen;
    border: 1px solid #f1f1f1;
    color:#f1f1f1;
}
tr:nth-child(2n):hover {
    background-color: white;
    color: #4f7e45;
}

tr:nth-child(2n+1){
    background-color: #ceefc8;
    border: 1px solid #f1f1f1;
    color: #4f7e45;
}
tr:nth-child(2n+1):hover {
    background-color: white;
    color: #4f7e45;
}

td a {
    text-decoration: none;
    color: #2d4329;
}

a:hover{
    color:#4f7e45;
}